
.navbar .logo .img_logo {
    order: 1;
   height: 50px;
   background-color: black;
   
}

.header__wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    right: 50;
    align-items: center;
    justify-content: center;
    background: rgb(37 35 35 / 25%);
    height: 100px;
    z-index: 1;
    
}


.hero-wrapper{
    background-image: url("../img/wonder.jpg");
    background-size:cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position-y: bottom;
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    
}

